name: Test Homebrew Formula

on:
    pull_request:
        branches:
            - master
    push:
        branches:
            - master

jobs:
    test_formula:
        strategy:
            matrix:
                os: [macos-latest, ubuntu-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v6

            - name: Install Homebrew (Linux only)
              if: runner.os == 'Linux'
              run: |
                  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
                  echo /home/linuxbrew/.linuxbrew/bin >> $GITHUB_PATH

            - name: Add tap and install Omnistrate CTL formula
              run: |
                  # Add the current repository as a tap
                  brew tap omnistrate/tap ${{ github.workspace }}
                  # Install the formula from the tap
                  brew install --build-from-source omnistrate/tap/omnistrate-ctl

            - name: Run brew tests
              run: brew test omnistrate/tap/omnistrate-ctl

            - name: Run omnistrate-ctl version command
              run: omnistrate-ctl --version
